:root {
    --milliseconds: 0s;
    --direction: moveItRight;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    height: 70vh;
    width: 35vw;
    background-color: #d3d3d3;
}

.trapezoid {
    min-height: 5%;
    max-width: 25vw;
    border-bottom: 85ex solid #8B4513;
    border-left: 15vw solid transparent;
    border-right: 15vw solid transparent;
}

.pendulum {
    /* transform: rotate(90deg); */
    transition: linear;
    transform-origin: right center;
    animation: var(--direction) var(--milliseconds) infinite;
    position: absolute;
    height: 100%;
    width: 450px;
    top: 20%;
    left: -6vw;
}

@keyframes moveItRight {
    0% {
        transform: rotateZ(90deg);
    }
    25% {
        transform: rotateZ(120deg);
    }
    50% {
        transform: rotateZ(90deg);
    }
    75% {
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(90deg);
    }
}

/* @keyframes moveItRight {
    0% {
        transform: rotateZ(90deg);
    }
    60% {
        transform: rotateZ(120deg);
    }
    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes moveItLeft {
    0% {
        transform: rotateZ(90deg);
    }
    60% {
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(90deg);
    }
} */