.slider {
    width: 350px;
}

.hidden {
    display: none;
}

@keyframes moveIt {
    0%, 100% {
        transform: rotateZ(45deg);
    }
    50% {
        transform: rotateZ(-45deg);
    }
}